
.image-container {
    position: relative;
}

    .image-container img {
        display: block;
        max-width: 100%;
        height: auto;
    }

.bound-image {
    position: absolute;
    object-fit: cover;
}

.right-button {
    margin-left: 1vw;
    background-color: #29b363;
    min-height: 5vh;
    height: auto;
    width: 17vw;
    border: 0px;
    box-shadow: 0 3px #089141;
}

.left-button {
    background-color: #2c7edb;
    min-height: 5vh;
    height: auto;
    width: 17vw;
    border: 0px;
    box-shadow: 0 3px #0c5ebc;
}

.small-text {
    font-size: 13px;
}

.custom-container {
    margin-left: auto;
    margin-right: auto;
    width: 63vw;
}

.custom-hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 46vw;
    margin-left: 6vw;
    margin-top: -20px;
    font-weight: 500;
}

.text-content {
    font-size: 18px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: 400;
}
